<h1>My Supplier Inline</h1>

<kendo-grid [data]="suppliergrid | async" 
[pageSize]="gridState.take" 
[skip]="gridState.skip" 
[sort]="gridState.sort" 
[filter]="gridState.filter" 
[sortable]="true" 
[pageable]="true" 
[resizable]="true" 
[filterable]="true" 
[height]="410" (edit)="editHandler($event)"
(cancel)="cancelHandler($event)" (save)="saveHandler($event)" 
(remove)="removeHandler($event)" (add)="addHandler($event)" 
(dataStateChange)="onStateChange($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column field="Id" title="ID" [width]="40" format="{0:n0}">
        <ng-template kendoGridEditTemplate>
            {{ supplierformGroup.value.Id }}
        </ng-template>
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-numeric-filter-cell [column]="column" [filter]="filter">
            </kendo-grid-numeric-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SupplierName" title="Name" [width]="80"></kendo-grid-column>
    <kendo-grid-column field="RegisterDate" title="RegisterDate" width="80" format="dd/MM/yyyy">
        <ng-template kendoGridEditTemplate let-formGroup>
            <kendo-datepicker [formControl]="formGroup.get('RegisterDate')" format="dd/MM/yyyy"></kendo-datepicker>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.RegisterDate | date: 'dd/MM/yyyy'}}
        </ng-template>
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-numeric-filter-cell [column]="column" [filter]="filter">
            </kendo-grid-numeric-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SupplierAddress" title="Address" [width]="80"></kendo-grid-column>
    <kendo-grid-column field="SupplierTypeName" title="SupplierType" width="60">
        <ng-template kendoGridEditTemplate let-formGroup>
            <kendo-dropdownlist [defaultItem]="{Id: null, SupplierTypeName: ''}" [data]="suppliertypes" textField="SupplierTypeName" valueField="Id" [valuePrimitive]="true" [formControl]="formGroup.get('SupplierTypeId')">
            </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="command" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="supplierformGroup?.invalid">{{ isNew? 'Add' : 'Update' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel'}}</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>

<!-- <div *ngIf="suppliergrid.gridLoading" class="k-i-loading"></div> -->