<h1>My Suppliers</h1>

<kendo-grid [data]="suppliergrid | async" 
[pageSize]="gridState.take" 
[skip]="gridState.skip" 
[sort]="gridState.sort" 
[filter]="gridState.filter" 
[sortable]="true" [pageable]="true" 
[resizable]="true" [filterable]="true" 
[height]="410" (edit)="editHandler($event)"
(cancel)="cancelHandler($event)" 
(save)="saveHandler($event)" 
(remove)="removeHandler($event)" (add)="addHandler($event)" 
(dataStateChange)="onStateChange($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column field="Id" title="ID" [width]="40" format="{0:n0}">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-numeric-filter-cell [column]="column" [filter]="filter">
            </kendo-grid-numeric-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SupplierName" title="Name" [width]="80"></kendo-grid-column>
    <kendo-grid-column field="RegisterDate" title="RegisterDate" width="80" format="dd/MM/yyyy">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.RegisterDate | date: 'dd/MM/yyyy'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SupplierAddress" title="Address" [width]="80"></kendo-grid-column>
    <kendo-grid-column field="SupplierTypeName" title="SupplierType" [width]="60"></kendo-grid-column>
    <kendo-grid-command-column title="command" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>

<app-supplier-detail [model]="supplierDataItem" 
[isNew]="isNew" (save)="saveHandler($event)" (cancel)="cancelHandler($event)">
</app-supplier-detail>

<kendo-dialog title="Please confirm" *ngIf="itemToRemove" (close)="confirmRemove(false)">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete supplier {{ itemToRemove.SupplierName }}?</p>
    <kendo-dialog-actions>
        <button class='k-button' (click)="confirmRemove(false)">No</button>
        <button class='k-button k-primary' (click)="confirmRemove(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>