<kendo-dialog *ngIf="active" [width]="300" [height]="500" (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ isNew? 'Add new supplier' : 'Edit supplier' }}
    </kendo-dialog-titlebar>

    <form [formGroup]="supplierformGroup" #formDir="ngForm">
        <div>
            <label for="SupplierName">Supplier Name:</label>
            <input class="form-control" placeholder="supplier name" formControlName="SupplierName" />
            <div *ngIf="supplierformGroup.get('SupplierName').invalid && supplierformGroup.get('SupplierName').errors.required">
                Supplier Name is required.
            </div>
            <div *ngIf="supplierformGroup.get('SupplierName').invalid && supplierformGroup.get('SupplierName').errors.maxlength">
                Supplier Name must be maximum 20 characters long.
            </div>
            <div *ngIf="supplierformGroup.get('SupplierName').invalid && supplierformGroup.get('SupplierName').errors.minlength">
                Supplier Name must be minimum 5 characters long.
            </div>
            <br/>
            <label for="RegisterDate">Register Date:</label>
            <kendo-datepicker class="form-control" formControlName="RegisterDate" format="dd/MM/yyyy"></kendo-datepicker>
            <br/>
            <label for="SupplierAddress">Address: </label>
            <input class="form-control" placeholder="address" formControlName="SupplierAddress" />
            <br/>
            <label for="SupplierType">Supplier Type: </label>
            <kendo-dropdownlist class="form-control" formControlName="SupplierTypeId" [data]="suppliertypes" [textField]="'SupplierTypeName'" [valueField]="'Id'" [valuePrimitive]="true">
            </kendo-dropdownlist>
            <br/>
            <label>Photo:</label>
                <div class="col-md-12">
                  <div *ngIf="previewimage">
                  <img [src]="previewimage" alt="image preview" width="200px" data-max-size="10kb" class="img-fluid rounded" />
                  <button kendoButton (click)="deleteImageHandler($event)" iconClass = "fa fa-remove fa-fw"></button>
                  </div>
                  <div class="form-group row">
                    <div class="col-auto">
                      <kendo-upload class="selector" name="image" formControlName="SupplierPhoto"
                      (success) = "successEventHandler($event)"
                      (remove)="removeEventHandler($event)"
                      [multiple]="false"
                      [saveUrl]="uploadSaveUrl"
                      [removeUrl]="uploadRemoveurl">
                    </kendo-upload>
                    </div>
                  </div>
                </div>

        </div>
    </form>

    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!supplierformGroup.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Please Confirm" *ngIf="photoToRemove" (close)="confirmRemove(false)">
    <p style="margin: 30px; text-align: center;"> Are you sure you want to delete photo?</p>
    <kendo-dialog-actions>
        <button class="k-button" (click)="confirmPhotoRemove(false)">No</button>
        <button class="k-button k-primary" (click)="confirmPhotoRemove(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>