<h1>{{'Customer' | translate}}</h1>
<kendo-grid [data]="customergrid"
[pageSize]="gridState.take"
[skip]="gridState.skip"
[sort]="gridState.sort"
[filter]="gridState.filter"
[sortable]="true"
[pageable]="true"
[filterable]="true"
[height]="410"
(dataStateChange)="onStateChange($event)">
<kendo-grid-column field="Id" title="ID" [width]=40 filter="numeric"></kendo-grid-column>
<kendo-grid-column field="CustomerName" title="Name" [width]=40></kendo-grid-column>
<kendo-grid-column field="CustomerAddress" title="Address" [width]=40></kendo-grid-column>
<kendo-grid-column field="CustomerTypeName" title="CustomerType" [width]=40></kendo-grid-column>
<kendo-grid-column title="Actions" [width]=120>
  <ng-template kendoGridCellTemplate let-dataItem>
    <button kendoButton [look]="default" iconClass="fa fa-remove fa-fw" (click)="delete(dataItem)"></button>
    <button kendoButton [look]="default" iconClass="fa fa-edit fa-fw" (click)="detail(dataItem)"></button>
  </ng-template>
</kendo-grid-column>
</kendo-grid>

<a routerLink="add">Add New Customer</a>