<p>customer-details-works</p>

<div *ngIf="customerEdit.value">
    <h2>{{customerEdit.value.CustomerName | uppercase}} Details</h2>
    <div><span>Customer ID: </span>{{customerEdit.value.Id}}</div>
    <br/>

    <form [formGroup]="customerEdit" (ngSubmit)="saveCustomer()">
        <div>
            <label for="CustomerName">Name</label>
            <input class="form-control" placeholder="name" formControlName="CustomerName">
            <div *ngIf="customerEdit.get('CustomerName').invalid && customerEdit.get('CustomerName').errors.required">
                Customer Name is required.
            </div>
            <div *ngIf="customerEdit.get('CustomerName').invalid && customerEdit.get('CustomerName').errors.maxlength">
                Customer Name must be maximum 20 characters long.
            </div>
            <div *ngIf="customerEdit.get('CustomerName').invalid && customerEdit.get('CustomerName').errors.minlength">
                Customer Name must be minimum 5 characters long.
            </div>

            <br/>

            <label for="RegisterDate">Register Date:</label>
            <kendo-datepicker class="form-control" formControlName="RegisterDate" format="dd/MM/yyyy"></kendo-datepicker>
            <br/>
            <label for="CustomerAddress">Address</label>
            <input class="form-control" placeholder="address" formControlName="CustomerAddress">
            <br/>
            <label for="Customer Type">Customer Type</label>
            <select class="form-control" formControlName="CustomerTypeId">
                <option *ngFor="let custt of customertypes" value={{custt.Id}}>{{custt.CustomerTypeName}}</option>
            </select>
            <br/>
            <label>Photo : 
                <div class="col-md-12">
                    <div *ngIf="previewimage" class="img-preview example-config">
                        <h3>Preview selected images</h3>
                        <div *ngFor="let image of previewimage | keyvalue">
                            <img [src]="image.value.imgURL" [alt]="image.key" width="200px" data-max-size="10kb" class="img-fluid rounded" />
                            <button kendoButton (click)="deleteImageHandler($event, image.key)" iconClass="fa fa-remove fa-fw"></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <kendo-upload class="selector" name="image" formControlName="CustomerPhoto"
                            (upload)="uploadEventHandler($event)"
                            (success)="successEventHandler($event)"
                            (remove)="removeEventHandler($event)"
                            [multiple]="true"
                            [concurrent]="false"
                            [saveUrl]="uploadSaveUrl"
                            [removeUrl]="uploadRemoveUrl">
                            </kendo-upload>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <br/>
        <button type="button" (click)="goBack()">go back</button>
        <button type="button" (click)="saveCustomer()">save</button>
    </form>
</div>

<kendo-dialog title="Please Confirm" *ngIf="photoToRemove" (close)="confirmRemove(false)">
  <p style="margin: 30px; text-align: center;"> Are you sure you want to delete photo?</p>
  <kendo-dialog-actions>
      <button class="k-button" (click)="confirmPhotoRemove(false)">No</button>
      <button class="k-button k-primary" (click)="confirmPhotoRemove(true)" primary="true">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>